.landing-buttons {
  position: absolute;
  bottom: 20vh;
  right: 1vw;
  display: flex;
  flex-direction: column;
  
  * {
    cursor: pointer;
  }

  *:hover {
    transform: rotate(2deg);
    transition-duration: 250ms;
  }

  .rules-btn {}

  .play-btn {
    position: relative;
    top: 1vh;
  }
}

