footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 67px;
  padding-right: 1vw;
  padding-left: 71px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  .music-player {
    display: flex;
    align-items: center;

    .control {
      background-color: transparent;
      border: none;
      padding: 1vmin;
      cursor: pointer;
      
      &:hover {
        transform: scale(1.05);
        transition: transform 250ms ease-out;
      }
    }

    .play-pause-btn {
      display: flex;
      align-items: center;
    }

    span {
      font-family: $primary-font;
    }

    .next-btn {
      display: none;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
}