@media screen and (max-width: 1023px) {
  .landing-bg-pic {
    padding-left: 0;
    width: 100vw;
    height: 100vh;
  }

  .menu {
    background-color: transparent;
    z-index: 100;

    header {
      padding-top: $spacing-med;
    }
  }

  .submenu--opened {
    top: 0;
    left: 0;
    padding-top: 5vh;
    background-size: cover;
    border-radius: 0;
    box-shadow: undefined;
    width: 100%;

    & section {
      width: 100%;
      padding: 0 10vmin;
      
      & h1 {
        text-align: center;
        font-size: 1.5rem;
      }

      & p {
        font-size: 1rem;
      }
    }

    .submenu__rules {
      & img {
        width: calc(100% - 10vmin);
      }
    }

    .submenu__contact {
      & a {
        color: $primary-color;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

  .header {
    background-color: transparent;
    position: absolute;
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100vw;
    
    * {
      margin: 0;
      padding-right: 1vw;
    }

    .header__title {
      color: black;
      font-size: calc(36px - 1vmax);
      font-weight: 600;
    }

    .header__subtitle {
      font-size: calc(18px - 0.5vmax);
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    width: 100vw;
    height: calc(67px - 3vh);
  }
}

@media screen and (max-width: 400px) {
  .landing-buttons {
    transform: scale(0.8);
  }
}