.menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: black;
  height: 100vh;
  z-index: 10;
  width: 71px;
  transition: width ease-in 150ms;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(67px - 30px);
  }

  .menu__title {
    font-family: $primary-font;
    font-size: 36px;
    color: $dull-primary-color;
    margin: 0;
    display: none;
  }

  .menu__btn {
    width: 30px;
    height: 30px;
    background-color: $primary-color;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    border: none;

    &::after {
      content: "";
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      box-shadow: 0 2px 10px rgba(150, 150, 150, 0.5);
      opacity: 0;
      -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &:hover {
      -webkit-transform: scale(1.25, 1.25);
      transform: scale(1.1, 1.1);
      transition: scale 150ms;
    }

    &:hover::after {
        opacity: 1;
        transition: opacity 150ms;
    }
  }
}

.menu--opened {
  width: calc(200px - 1vw);
  transition: width ease-out 150ms;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  header .menu__btn {
    margin-left: $spacing-med;
    background-color: $secondary-color;
    transition: background-color ease-in-out 150ms;
  }

  header .menu__title {
    display: inline;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & button {
      border: none;
      background-color: transparent;
      padding: 0;
      cursor: pointer;
      margin-bottom: 2rem;
      position: relative;

      &:hover {
        color: $secondary-color;
        transition: color ease-out 150ms;
      }

      &:focus {
        outline: none;
        color: $primary-color;
      }
    }

    *:not(:last-child)::after {
      content: "";
      position: absolute;
      display: block;
      width: 25%;
      height: 1px;
      background-color: white;
      top: 150%;
      transform: translateX(150%);
    }

    .settings-btn {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
  
      &:hover {
        transform: rotate(180deg);
        transition: transform 250ms ease-in-out;
      }
  
      &:active, :focus {
        outline: 1px solid white;
      }
    }
  }
}

nav {
  display: none;
  margin-top: $spacing-med;

  & * {
    font-size: 24px;
    font-weight: 500;
    color: white;
    font-family: $secondary-font;
  }

  .settings-btn {
    display: none;
  }
}

.menu__underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  display: none;
}

.menu__underlay--show {
  display: block;
}
