$primary-color: #FF5555;
$secondary-color: #14844E;
$dull-primary-color: #B74E4E;
$underlay-color: rgba(0,0,0,0.5);

$spacing-sm: 8px;
$spacing-med: 16px;
$spacing-lg: 32px;

// $primary-font: Luckiest Guy;
// $secondary-font: Open-Sans;
// $japanese-font: Noto Serif;