$primary-color: #FF5555;
$secondary-color: #14844E;
$dull-primary-color: #B74E4E;
$underlay-color: rgba(0,0,0,0.5);
$green: #38FF34;
$red: #FF0000;

$spacing-sm: 8px;
$spacing-med: 16px;
$spacing-lg: 32px;

$primary-font: "Luckiest Guy", cursive;
$secondary-font: "Open Sans", sans-serif;
$japanese-font: "Noto Serif JP", serif;